extends layout
block vars
    - var bodyClass="about-body"
block content
    div(class="letter")
        each paragraph in about_paragraph
            p !{paragraph.about_paragraph}
    div(id="languages-frame")
block scripts 
    script(src="/scripts/jsx/test.jsx" type="text/babel")
