extends layout
block vars
    - var bodyClass="about-body"
block content
    div(class="letter")
        each paragraph in about_paragraph
            p !{paragraph.about_paragraph}
    div(id="languages-frame")
block scripts 
    script(src="/scripts/jsx/test.jsx" type="text/babel" async)
    script(src="https://unpkg.com/babel-standalone@6/babel.min.js" )
    script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
