extends layout
block vars
    - var bodyClass="about-body"
block content
    div(class="letter")
        each paragraph in about_paragraph
            p !{paragraph.about_paragraph}
    div(id="langages-hook")
block scripts 
    script(src="/scripts/langages.js" type="text/javascript")
