extends layout
block vars
    - var bodyClass="contact-body"
block content
    main(class="contact-main")
        h2 Contact
        form(id="contact-form")
            div(class="form-data-container")
                div(class="form-container")
                    div
                        label(for="name") Nom:
                        input(class="form-input" name="name" type="text")                        
                    div
                        label(for="email") Email:
                        input(class="form-input" name="email" type="email")
                div(class="form-container" id="contact-form")
                    div
                        label(for="first-name") Prénom:
                        input(class="form-input" name="first-name" type="text")
                    div
                        label(for="phone") Téléphone:
                        input(class="form-input" name="phone" type="text")
            div(class="form-message-container")
                label(for="message") Message:
                textarea(class="form-input" name="message")
            div(id="form-sending-button") Envoyer
block scripts
    script(src="/scripts/contact.js" type="module")
