extends layout
block meta
    meta(name="csrf-token" content=csrfToken)
block vars
    - var bodyClass="landing-body"
block content
    main
        p #{description}
        div(class="download-cv-button") Télécharger CV     
block scripts
    script(src="/scripts/cv.js" type="text/javascript")
                    

    
