doctype html
html
    head
        title= title
        block meta
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //meta(name="csrf-token" content=csrfToken)
        block stylesheet
            link(rel='scss', href='/styles/scss/main.scss', type="text/x-scss")
            link(rel='stylesheet', href='/styles/css/main.css')
    - var bodyClass=""
    block vars
    body(class= bodyClass)
        block content
        block scripts
        script(src="/scripts/header.js" type="text/javascript")
        
