doctype html
html
    head
        title= title
        block stylesheet
            //link(rel='stylesheet', href='/stylesheets/style.scss', type="text/x-scss")
    body
        block content
        block scripts
            
        script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
        script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
