extends layout
block vars
    - var bodyClass="project-body"
block content
    main(class="project-main")
        div(class="project-container")
            a(class="project-link")
                p Projet
            a(class="comp-link")
                p Galerie de composants
