
$btn-light-pulse-rules:(
    main-color: rgba(237, 229, 233, 0.8),
    hover-color: rgba(143, 143, 147, 0.77),
    hover-font-color: rgba(237, 229, 233, 0.8),
);
@mixin btn-light-pulse($main-color,$hover-color,
$hover-font-color){
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
    transition: 0.25s;
    background: none;
    border: 0.4rem solid;
    font:{
        size: 1.6rem;
        family: Ubuntu;
    }
    line-height: 1;
    margin: 0.5rem;
    padding: 1rem 2rem;
    &:hover,
    &:focus {
      animation: pulse 1s;
      box-shadow: 0 0 0 2em transparent;
      border-color: $hover-color;
      color: $hover-font-color;
    }
    @keyframes pulse {
      0% { box-shadow: 0 0 0 0 $hover-color; }
    }
}
.pulse{
    @include btn-light-pulse($btn-light-pulse-rules...);
}
