$btn-shadow-box: 2.2px -10px 12.8px rgba(39, 219, 245, 0.17), 25px -5px 25px rgba(39, 219, 245, 0.129);
$btn-main-color:white;
$btn-hover-background: linear-gradient(90deg, rgba(26,130,104,0.1) 0%, rgba(33,114,168,0.1) 36%, rgba(0,140,162,0.1) 59%, rgba(0,212,255,0.1) 100%);
$hover-background-color: rgba(39, 219, 245, 0.3);

@mixin btn-site-protfolio(){
    width: 15rem;
    border-radius: 0.5rem;
    height: 3.5rem;
    border: 0.1px solid $btn-main-color;
    color: $btn-main-color;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: $btn-shadow-box;
    overflow: hidden;
    font-size: 1.6rem;
    opacity: 0.75;
    cursor: pointer;
    &:hover{
        background: $btn-hover-background;
        background-color: $hover-background-color;
        transition: background-color 1s linear;
        animation: btn-hover-animation 1.2s infinite;
        animation-direction: alternate-reverse;
        animation-fill-mode: forwards;
    }
    @keyframes btn-hover-animation{
        25%{border-bottom: rgba(39, 219, 245,0.1) solid 0.5px;transition: border-width 0.5s  ease-in-out;}
        50%{border-left: rgba(39, 219, 245, 0.3) solid 0.5px;transition: border-width 0.5s   ease-in-out;}
        75%{border-top: rgba(39, 219, 245, 0.6) solid 0.5px;transition: border-width 0.5s   ease-in-out;}
        100%{border-right: rgba(39, 219, 245, 0.9) solid 0.5px ;transition: border-width 0.5s ease-in-out;}
    }
}
