.carousel-body{
    background: rgb(10,10,10);
background: linear-gradient(317deg, rgba(10,10,10,1) 0%, rgba(77,80,80,1) 50%, rgba(15,15,15,1) 100%); 
    .carousel-root{
        .image-carousel-main-container{
            .next-button{

            }
            .image-container{
                width: 75%;
                height: auto;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .frame-container{
                display: flex;
                align-items: center;
                div{
                    width: 10%;
                    height: auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .next-button{

            }
        }
    }
}
