/*VAR*/
@keyframes fadeIn{from{opacity:0;}to{opacity:1;}};
.carousel-body{
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.5s;
    background: rgb(10,10,10);
    background: -webkit-linear-gradient(227deg, rgba(10,10,10,1) 0%, rgba(77,80,80,1) 50%, rgba(15,15,15,1) 100%);
    background: -o-linear-gradient(227deg, rgba(10,10,10,1) 0%, rgba(77,80,80,1) 50%, rgba(15,15,15,1) 100%);
    background: linear-gradient(317deg, rgba(10,10,10,1) 0%, rgba(77,80,80,1) 50%, rgba(15,15,15,1) 100%);
    #carousel-root{
        //border: $box-show;
        width: 70%;
        height: 65rem;
        .image-carousel-main-container{
            //border: $box-show;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 65rem;
            .image-button-container{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .previous-button{
                    box-sizing: border-box;
                    height: 8rem;
                    width: 8rem;
                    border-style: solid;
                    border-color: white;
                    border-width: 0rem 0.1rem 0.1rem 0rem;
                    transform: rotate(135deg);
                    transition: border-width 150ms ease-in-out;
                    &:hover{
                        border-bottom-width: 1rem;
                        border-right-width: 0.4rem;
                    }
                }
                .next-button{
                    //box-sizing: border-box;
                    height: 8rem;
                    width: 8rem;
                    border-style: solid;
                    border-color: white;
                    border-width: 0rem 0.1rem 0.1rem 0rem;
                    transform: rotate(-45deg);
                    transition: border-width 150ms ease-in-out;
                    &:hover{
                        border-bottom-width: 1rem;
                        border-right-width: 0.4rem;
                    }
                }
                .image-container{
                    width: 75%;
                    height: auto;
                    overflow: hidden;
                    max-height: 45rem;
                    //animation: fadeIn 1s ease-in-out;
                    img{
                        object-fit: cover;
                        border-radius: 0.5rem;
                        object-position: center;
                        transform: scale(1,1);
                        width: 100%;
                        height: 45rem;
                        //transition: opacity 0.5s linear 0.25s;
                    }
                    .test{
                        //opacity: 0%;
                        transition: opacity 0.5s linear 0.25s;
                    }
                }
            }
            .frame-container{
                //border: $box-show;
                display: flex;
                overflow: hidden;
                //align-items: center;
                justify-content: space-around;
                align-content: space-between;
                div{

                    width: 10%;
                    overflow: hidden;
                    height: 8rem;
                    img{
                        width: 100%;
                        height: 8rem;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 0.5rem;
                    }
                    .displayed{

                    }
                    .over-layed{
                        opacity: 25%;
                        transition: opacity 0.5s linear 0.25s;
                        &:hover{
                            opacity:100%;
                            transition: opacity 0.5s linear 0.25s;
                        }
                    }
                }
            }
        }
    }
}
