@import "btn-portfolio.scss";

.contact-body{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/cssAssets/contact.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    @include mobile-screens-small{
        display: flex;
        flex-direction: column;
    }
    #contact-main{
        @include desktop-screen-medium{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include desktops-screens-small{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include tablets-laptops-screens{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include tablets-screens{
            width: 85%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include mobile-screens-small{
            width: 100%;
            margin-top: 7.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h2{
            margin-right: auto;
            font:{
                size: 2.5rem;
            }
        }
        form{
            @include desktop-screen-medium{
                height: 45rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            @include desktops-screens-small{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            @include tablets-laptops-screens{
                height: 50rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            @include tablets-screens{
                height: 50rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            @include mobile-screens-small{
                height: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
                .form-data-container{
                    @include desktop-screen-medium{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                    }
                    @include desktops-screens-small{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                    }
                    @include tablets-laptops-screens{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-around;
                    }
                    @include tablets-screens{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-around;
                    }
                    @include mobile-screens-small{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .form-container{
                        @include desktop-screen-medium{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            height: 20rem;
                            width: 45%;
                        }
                        @include desktops-screens-small{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            height: 20rem;
                            width: 50%;
                        }
                        @include tablets-laptops-screens{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            height: 20rem;
                            width: 50%;
                        }
                        @include tablets-screens{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            height: 20rem;
                            width: 50%;
                        }
                        div{
                            @include desktop-screen-medium{
                                display: flex;
                                justify-content: space-around;
                                width: 95%;
                            }
                            @include desktops-screens-small{
                                display: flex;
                                justify-content: space-around;
                                width: 95%;
                            }
                            @include tablets-laptops-screens{
                                width: 100%;
                                align-items: center;
                                display: flex;
                                justify-content: space-around;
                            }
                            @include tablets-screens{
                                width: 100%;
                                align-items: center;
                                display: flex;
                                justify-content: space-around;
                            }
                            @include mobile-screens-small{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                height: 8rem;
                            }
                            label{
                                font-size: 2rem;
                                @include mobile-screens-small{
                                    margin-right: auto;
                                    margin-left: 9%;
                                }
                        }
                        input{
                            //General mobile desktop
                            background-color: rgba(113, 112, 113, 0.5);
                            height: 4rem;
                            border: none;
                            font-size: 2rem;
                            border-radius: 0.5rem;
                            @include desktop-screen-medium{
                                width: 80%;
                            }
                            @include desktops-screens-small{
                                width: 70%;
                            }
                            @include tablets-laptops-screens{
                                height: 4rem;
                                width: 75%;
                            }
                            @include tablets-screens{
                                height: 4rem;
                                width: 75%;
                            }
                            @include mobile-screens-small{
                                height: 4rem;
                                width: 80%;
                                margin-top: 1.5%;
                            }
                        }
                    }
                }//ici
                .mobile-reverse{
                    @include mobile-screens-small{
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: space-around;
                        align-items: center;
                        height: 20rem;
                        width: 90%;
                    }
                }
                .mobile-no-reverse{
                    @include mobile-screens-small{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        height: 20rem;
                        width: 90%;
                    }
                }
            }
            .form-message-container{
                @include desktop-screen-medium{
                    width: 88%;
                    display: flex;
                    flex-direction: column;
                }
                @include desktops-screens-small{
                    display: flex;
                    flex-direction: column;
                    width: 97%;
                }
                @include tablets-laptops-screens{
                    width: 98%;
                    display: flex;
                    flex-direction: column;
                }
                @include tablets-screens{
                    width: 98%;
                    display: flex;
                    flex-direction: column;
                }
                @include mobile-screens-small{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 88%;
                    flex-direction: column;
                    height: 15rem;
                }
                label{
                    font-size: 2rem;
                    @include desktop-screen-medium{
                        margin-right: auto;
                        //margin-left: 9%;
                    }
                    @include mobile-screens-small{
                        margin-right: auto;
                        margin-left: 9%;
                    }
                    @include tablets-screens{
                        //margin-left: 9%;
                    }
                }
                textarea{
                    background-color: rgba(113, 112, 113, 0.5);
                    border: none;
                    height: 10rem;
                    font-size: 1.6rem;
                    border-radius: 0.5rem;
                    @include desktop-screen-medium{
                        width: 50%;
                        margin-left: 9%;
                    }
                    @include desktops-screens-small{
                        width: 45%;
                        margin-left: 11%;
                    }
                    @include tablets-laptops-screens{
                        width: 50%;
                        margin-left: 9%;
                    }
                    @include tablets-screens{
                        width: 50%;
                        margin-left: 9%;
                    }
                    @include mobile-screens-small{
                        width: 80%;
                    }
                }
            }
            #form-sending-button{
                @include btn-site-protfolio();
                @include desktops-screens-small{
                    margin-top: 2.5%;
                }
                @include tablets-laptops-screens{
                    width: 40%;
                    height: 5rem;
                    font-size: 2rem;
                    margin-top: 2.5%;
                }
                @include tablets-screens{
                    width: 40%;
                    height: 5rem;
                    font-size: 2rem;
                    margin-top: 2.5%;
                }
                @include mobile-screens-small{
                    width: 65%;
                    height: 5rem;
                    font-size: 2rem;
                    margin-top: 2.5%;
                }
            }
        }
    }
}
