header{
    h2{
        font:{
            size: 8rem;
        }
    }
    h1{
        font:{
            size:6rem;
        }
    }
    h3{
        font:{
            size: 4rem;
        }
    }
    div{
        width: 20%;
        border-bottom: 0.4rem solid rgba(8, 233, 248, 0.8);
    }
}
