@import "btn-portfolio.scss";
//@import "breakpoint";
//@include desktop-screen-medium{width: 30%;}
//@include mobile-screens-small{width: 50%;}

$landing-page-fs: 3rem;


.landing-body{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("../../images/cssAssets/backgroundportfolio.svg") no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    height: auto;
    min-height: 100vh;
    @include mobile-screens-small{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    main{
        width: 70%;
        @include tablets-screens{
            width: 85%;
        }
        @include mobile-screens-small{
            width: 85%;
        }
        p{
            font-size: $landing-page-fs;
            line-height: 5rem;
            @include mobile-screens-small{
                line-height: 4rem;
            }
        }
        div{
            width: 15%;
            height: 2rem;
            margin: auto;
            @include btn-site-protfolio();
            @include tablets-screens{
                width: 35rem;
                height: 5rem;
            }
            @include mobile-screens-small{
                width: 35rem;
                height: 5rem;
                font-size: 2rem;
            }
        }
    }
}
