.landing-body{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("../../images/cssAssets/backgroundportfolio.svg")/*rgba(0, 0, 0, 0.44)*/  no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    main{
        //https://codepen.io/giana/pen/BZaGyP
        //border: $box-show;
        width: 70%;
        p{
            font:{
                size: 3rem;
            }
        }
        div{
            border: $box-show;
            width: 20%;
            height: 5rem;
            margin: auto;
            font-size: 2rem;
            text-align: center
        }
    }
}
