@import "btn-light.scss";

.landing-body{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("../../images/cssAssets/backgroundportfolio.svg") no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    main{
        width: 70%;
        p{
            font:{
                size: 3rem;
            }
        }
        div{
            width: 15%;
            height: 2rem;
            margin: auto;
            @include btn-light($btn-light-rules...)
        }
    }
}
