img{
    width: 15px;
    height: 15px;
}

.project-body{
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/cssAssets/project-background.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    #project-main{
        //border: $box-show;
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        .tab-container{
            display: flex;
            width: 45%;
            div{
                background-color: rgba(18, 18, 19, 0.8);
                border-left:rgba(143, 143, 144, 0.8) solid 0.01rem;
                width: 50%;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                font-size: 2rem;
            }
        }
        .project-main-container{
            background-color: rgba(18, 18, 19, 0.8);
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            display: flex;
            height: 60rem;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .path-bar-container{
                display: flex;
                align-items: center;
                padding-left: 3rem;
                border: $box-show;
                width: 75%;
                font-size: 1.6rem;
                height: 3rem;
                border-radius: 0.5rem;
            }
            .files-deco{
                border-bottom: 0.1rem solid white;
                font-size: 1.2rem;
                padding-left: 2rem;
                width: 50%;
                margin-right: auto;
                margin-left: 15%;
            }
            .icons-lateralNav-container{
                border: $box-show;
                display: flex;
                width: 100%;
                aside{
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    //overflow:scroll;
                    div{
                        h3{
                            font-size: 2rem;
                        }
                        div{
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            border: $box-show;
                            height: 3rem;
                            img{
                                width: 2rem;
                                height: 2rem;
                            }
                            p{
                                font-size: 1.6rem;
                            }
                        }
                        .folder{
                            background-color: blue;
                            //flex-direction: column;
                            height: auto;
                            //overflow: hidden;
                            div{
                                width: 100%;
                            }
                            #components #project{
                                //display: none;
                                //background-color: red;
                                //display: flex;
                                //flex-direction: column;
                                //overflow: auto;
                                //height: 4rem;
                                a{
                                    //background-color: green;
                                    //margin-left: 35%;
                                    //margin: auto;
                                    display: flex;
                                    align-items: center;
                                    height: 2.5rem;
                                    //overflow: hidden;
                                    p{
                                        border: $box-show;
                                        word-break: keep-all;
                                        word-wrap: normal;
                                        overflow: hidden;
                                        font-size: 1.5rem;
                                        width: 25rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .icons-container{
                    border: $box-show;
                    margin-top: 5%;
                    display: flex;
                    width: 75%;
                    a{
                        //border: $box-show;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 15%;
                        height: 15rem;
                        img{
                            width: 4rem;;
                            height: auto;
                        }
                        p{
                            font-size: 1.6rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
