.project-body{
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/cssAssets/project-background.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 130rem;
    #project-main{
        //border: $box-show;
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        @include tablets-laptops-screens{

        }
        @include tablets-screens{
            width: 85%;
        }
        @include mobile-screens-small{

        }
        .tab-container{
            display: flex;
            width: 45%;
            @include tablets-screens{
                width: 60%;
            }
            div{
                background-color:  rgba(76, 74, 75, 1);/*rgba(18, 18, 19, 0.8);*/
                border-left:rgba(143, 143, 144, 0.8) solid 0.01rem;
                width: 50%;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                font-size: 2rem;
                @include tablets-screens{
                    width: 70%;
                }
            }
            .none-selected{
            }
        }
        .project-main-container{
            background-color: rgba(76, 74, 75, 1);/*rgba(18, 18, 19, 0.8);*/
            border: rgba(143, 143, 144, 0.8) solid 0.01rem;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            display: flex;
            height: 65rem;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            @include tablets-screens{
                height: 60rem;
            }
            .path-bar-container{
                background-color: rgba(38, 38, 38, 0.8);
                display: flex;
                align-items: center;
                padding-left: 3rem;
                width: 75%;
                font-size: 1.6rem;
                height: 3rem;
                border-radius: 0.5rem;
            }
            .files-deco{
                border-bottom: 0.1rem solid white;
                font-size: 1.2rem;
                padding-left: 2rem;
                width: 50%;
                margin-right: auto;
                margin-left: 15%;
            }
            .icons-lateralNav-container{
                //border: $box-show;
                display: flex;
                width: 100%;
                @include tablets-screens{
                    height: 45rem;
                    width: 90%;
                }
                .hidden{
                    display: none;
                }
                #mobile-bar{
                    .arrow-btn-right{
                        @include langages-slider-button($langages-slider-button-rules...);
                        animation: fadeIn 2s linear;
                        height: 45rem;
                        width: 5rem;
                        border-radius: 0rem;
                        border-top-right-radius: 0.5rem;
                        border-bottom-right-radius: 0.5rem;
                        &:hover{
                            background-color: rgba(38, 38, 38, 0.6);
                        }
                        &:active{
                            color:white;
                            animation: fadeIn 0.5s linear;
                        }
                    }
                }
                aside{
                    border-radius: 0.5rem;
                    background-color: rgba(38, 38, 38, 0.6);
                    width: 17rem;
                    display: flex;
                    flex-direction: column;
                    margin-left: 2%;
                    height: 55rem;
                    @include tablets-screens{
                        margin-left:0%;
                        width: 25rem;
                        border-top-right-radius: 0rem;
                        border-bottom-right-radius: 0rem;
                        height: 45rem;
                        overflow: hidden;
                        animation: fadeIn 1.25s linear;
                    }
                    div{
                        margin-left: 2%;
                        h3{
                            font-size: 2rem;
                            text-align: center;
                        }
                        div{
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            height: 3rem;
                            @include tablets-screens{
                                margin-top: 2.5%;
                            }
                            img{
                                width: 2rem;
                                height: 2rem;
                            }
                            p{
                                font-size: 1.6rem;
                            }
                        }
                        .folder{
                            //border: 1px solid yellow;
                            flex-direction: column;
                            height: auto;
                            div{
                                width: 100%;
                            }
                            #components, #projects{
                                margin-top: -7%;
                                display: flex;
                                flex-direction: column;
                                height: auto;
                                a{
                                    //background-color: green;
                                    text-decoration: none;
                                    margin-left: 95%;
                                    display: flex;
                                    align-items: center;
                                    height: 2rem;
                                    //overflow: hidden;
                                    @include tablets-screens{
                                        margin-left: 50%;
                                    }
                                    p{
                                        //border: $box-show;
                                        //background-color: green;
                                        font-size: 1.2rem;
                                        width: 20rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .icons-container{
                    //border: $box-show;
                    margin-left: 5%;
                    display: flex;
                    width: 75%;
                    gap: 2%;
                    flex-wrap: wrap;
                    @include tablets-screens{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5%;
                        margin-left: 10%;
                        overflow: scroll;
                    }
                    a{
                        //border: $box-show;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 15rem;
                        height: 15rem;
                        @include tablets-screens{
                            margin-left: 5%;
                            width: 15rem;
                            height: 10rem;
                        }
                        img{
                            width: 4rem;;
                            height: 4rem;
                            //height: auto;
                        }
                        p{
                            font-size: 1.6rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
