/*@include mobile-screens-small{

}*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@media (min-width: 481px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 70%;
  }
}
@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 85%;
  }
}
@media (min-width: 481px) {
  header nav {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 480px) {
  header nav {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    height: auto;
    position: fixed;
    top: 2%;
    right: 2%;
  }
}
header nav .hidden {
  display: none;
}
@media (min-width: 481px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 480px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35rem;
    width: 100%;
  }
}
@media (min-width: 481px) {
  header nav ul li {
    display: block;
  }
}
@media (max-width: 480px) {
  header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5rem;
    margin-left: -5%;
  }
}
header nav ul li a {
  font-size: 2rem;
}
@media (min-width: 481px) {
  header nav ul li a {
    text-decoration: none;
  }
}
@media (max-width: 480px) {
  header nav ul li a {
    text-decoration: none;
  }
}
header .header-info-cntainer {
  display: block;
  width: 100%;
}
@media (max-width: 480px) {
  header .header-info-cntainer {
    margin-top: 5%;
    display: block;
    width: 100%;
  }
}
@media (min-width: 481px) {
  header .header-info-cntainer h2 {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  header .header-info-cntainer h2 {
    font-size: 6.45rem;
  }
}
@media (min-width: 481px) {
  header .header-info-cntainer h1 {
    font-size: 6rem;
  }
}
@media (max-width: 480px) {
  header .header-info-cntainer h1 {
    font-size: 5rem;
  }
}
@media (min-width: 481px) {
  header .header-info-cntainer h3 {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  header .header-info-cntainer h3 {
    font-size: 3.25rem;
  }
}
header .header-line {
  border-bottom: 0.4rem solid rgba(8, 233, 248, 0.8);
}
@media (min-width: 481px) {
  header .header-line {
    width: 30%;
  }
}
@media (max-width: 480px) {
  header .header-line {
    width: 50%;
  }
}

.landing-body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("../../images/cssAssets/backgroundportfolio.svg") no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  height: auto;
  height: 100vh;
}
@media (max-width: 480px) {
  .landing-body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.landing-body main {
  width: 70%;
}
@media (max-width: 480px) {
  .landing-body main {
    width: 85%;
  }
}
@media (min-width: 481px) {
  .landing-body main p {
    font-size: 3rem;
    line-height: 5rem;
  }
}
@media (max-width: 480px) {
  .landing-body main p {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
.landing-body main div {
  width: 15%;
  height: 2rem;
  margin: auto;
  width: 15rem;
  border-radius: 0.5rem;
  height: 3.5rem;
  border: 0.1px solid white;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 2.2px -10px 12.8px rgba(39, 219, 245, 0.17), 25px -5px 25px rgba(39, 219, 245, 0.129);
  overflow: hidden;
  font-size: 1.6rem;
  opacity: 0.75;
  cursor: pointer;
}
.landing-body main div:hover {
  background: linear-gradient(90deg, rgba(26, 130, 104, 0.1) 0%, rgba(33, 114, 168, 0.1) 36%, rgba(0, 140, 162, 0.1) 59%, rgba(0, 212, 255, 0.1) 100%);
  background-color: rgba(39, 219, 245, 0.3);
  transition: background-color 1s linear;
  animation: btn-hover-animation 1.2s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
@keyframes btn-hover-animation {
  25% {
    border-bottom: rgba(39, 219, 245, 0.1) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  50% {
    border-left: rgba(39, 219, 245, 0.3) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  75% {
    border-top: rgba(39, 219, 245, 0.6) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  100% {
    border-right: rgba(39, 219, 245, 0.9) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
}
@media (max-width: 480px) {
  .landing-body main div {
    width: 35rem;
    height: 5rem;
    font-size: 2rem;
  }
}

.arrow-btn-left {
  left: 20%;
}
.arrow-btn-left:after {
  border-top: 0.4rem solid;
  border-left: 0.4rem solid;
  transform: rotateZ(315deg);
}

.arrow-btn-right {
  left: 70%;
}
.arrow-btn-right:after {
  border-bottom: 0.4rem solid;
  border-right: 0.4rem solid;
  transform: rotateZ(315deg);
}

@keyframes fadeInFuck {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutFuck {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
.about-body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("../../images/cssAssets/background-about.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 150rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .about-body {
    height: 210rem;
  }
}
.about-body .letter {
  margin-top: 2rem;
}
@media (min-width: 481px) {
  .about-body .letter {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .about-body .letter {
    width: 85%;
  }
}
.about-body .letter p {
  font-size: 3rem;
}
@media (max-width: 480px) {
  .about-body .letter p {
    font-size: clac(1.5rem);
  }
}
.about-body section {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 481px) {
  .about-body section {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .about-body section {
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.about-body section .prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid none;
  border-radius: 6rem;
  color: white;
  cursor: pointer;
  line-height: 18rem;
  transition: all 0.25s ease-in-out;
}
.about-body section .prev:hover {
  background: white;
  border-color: white;
  color: black;
}
.about-body section .prev:after {
  display: inline-block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 480px) {
  .about-body section .prev {
    width: 10rem;
    height: 15rem;
  }
}
.about-body section .next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid none;
  border-radius: 6rem;
  color: white;
  cursor: pointer;
  line-height: 18rem;
  transition: all 0.25s ease-in-out;
}
.about-body section .next:hover {
  background: white;
  border-color: white;
  color: black;
}
.about-body section .next:after {
  display: inline-block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 480px) {
  .about-body section .next {
    width: 10rem;
    height: 15rem;
  }
}
.about-body section #langages {
  display: flex;
  overflow: hidden;
  gap: 3rem;
}
@media (min-width: 481px) {
  .about-body section #langages {
    width: 76%;
  }
}
@media (max-width: 480px) {
  .about-body section #langages {
    width: 25rem;
  }
}
.about-body section #langages .image-animation {
  animation: fadeOutFuck ease-in-out 1;
  animation-fill-mode: backwards;
  animation-duration: 0.5s;
  animation-delay: 0s;
}
.about-body section #langages div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeInFuck ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
@media (min-width: 481px) {
  .about-body section #langages div {
    width: 25rem;
  }
}
@media (max-width: 480px) {
  .about-body section #langages div {
    width: 30rem;
  }
}
.about-body section #langages div img {
  height: auto;
  margin: auto;
}
@media (min-width: 481px) {
  .about-body section #langages div img {
    width: 20rem;
  }
}
@media (max-width: 480px) {
  .about-body section #langages div img {
    width: 25rem;
  }
}
.about-body section #langages div h3 {
  font-size: 2rem;
}

.contact-body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/cssAssets/contact.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100rem;
}
@media (max-width: 480px) {
  .contact-body {
    height: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.contact-body #contact-main {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .contact-body #contact-main {
    width: 100%;
  }
}
.contact-body #contact-main h2 {
  margin-right: auto;
  font-size: 2.5rem;
}
.contact-body #contact-main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 481px) {
  .contact-body #contact-main form {
    height: 45rem;
  }
}
@media (max-width: 480px) {
  .contact-body #contact-main form {
    height: auto;
  }
}
.contact-body #contact-main form .form-data-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-data-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 481px) {
  .contact-body #contact-main form .form-data-container .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
    width: 45%;
  }
}
.contact-body #contact-main form .form-data-container .form-container div {
  display: flex;
  justify-content: space-around;
  width: 95%;
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-data-container .form-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
  }
}
.contact-body #contact-main form .form-data-container .form-container div label {
  font-size: 2rem;
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-data-container .form-container div label {
    margin-right: auto;
    margin-left: 9%;
  }
}
.contact-body #contact-main form .form-data-container .form-container div input {
  background-color: rgba(113, 112, 113, 0.5);
  border: none;
  height: 3rem;
  width: 75%;
  font-size: 2rem;
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-data-container .form-container div input {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-data-container .mobile-reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    width: 90%;
  }
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-data-container .mobile-no-reverse {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    width: 90%;
  }
}
.contact-body #contact-main form .form-message-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 481px) {
  .contact-body #contact-main form .form-message-container {
    width: 88%;
  }
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-message-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 15rem;
  }
}
.contact-body #contact-main form .form-message-container label {
  font-size: 2rem;
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-message-container label {
    margin-right: auto;
    margin-left: 9%;
  }
}
.contact-body #contact-main form .form-message-container textarea {
  background-color: rgba(113, 112, 113, 0.5);
  border: none;
  height: 10rem;
  font-size: 1.6rem;
}
@media (min-width: 481px) {
  .contact-body #contact-main form .form-message-container textarea {
    width: 50%;
    margin-left: 9%;
  }
}
@media (max-width: 480px) {
  .contact-body #contact-main form .form-message-container textarea {
    width: 80%;
  }
}
.contact-body #contact-main form #form-sending-button {
  width: 15rem;
  border-radius: 0.5rem;
  height: 3.5rem;
  border: 0.1px solid white;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 2.2px -10px 12.8px rgba(39, 219, 245, 0.17), 25px -5px 25px rgba(39, 219, 245, 0.129);
  overflow: hidden;
  font-size: 1.6rem;
  opacity: 0.75;
  cursor: pointer;
}
.contact-body #contact-main form #form-sending-button:hover {
  background: linear-gradient(90deg, rgba(26, 130, 104, 0.1) 0%, rgba(33, 114, 168, 0.1) 36%, rgba(0, 140, 162, 0.1) 59%, rgba(0, 212, 255, 0.1) 100%);
  background-color: rgba(39, 219, 245, 0.3);
  transition: background-color 1s linear;
  animation: btn-hover-animation 1.2s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
@keyframes btn-hover-animation {
  25% {
    border-bottom: rgba(39, 219, 245, 0.1) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  50% {
    border-left: rgba(39, 219, 245, 0.3) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  75% {
    border-top: rgba(39, 219, 245, 0.6) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  100% {
    border-right: rgba(39, 219, 245, 0.9) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
}
@media (max-width: 480px) {
  .contact-body #contact-main form #form-sending-button {
    width: 65%;
    height: 5rem;
    font-size: 2rem;
    margin-top: 2.5%;
  }
}

.contact-pop-up {
  position: absolute;
  margin: auto;
  background: #0a0a0a;
  background: -webkit-linear-gradient(left, rgba(10, 10, 10, 0.95) 0%, rgba(33, 32, 32, 0.95) 50%, rgba(15, 15, 15, 0.95) 100%);
  background: -o-linear-gradient(left, rgba(10, 10, 10, 0.95) 0%, rgba(33, 32, 32, 0.95) 50%, rgba(15, 15, 15, 0.95) 100%);
  background: linear-gradient(to right, rgba(10, 10, 10, 0.95) 0%, rgba(33, 32, 32, 0.95) 50%, rgba(15, 15, 15, 0.95) 100%);
  width: 50%;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-pop-up p {
  width: 40rem;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
}
.contact-pop-up .contact-pop-up-btn-container {
  width: 100%;
  display: flex;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.contact-pop-up .contact-pop-up-btn-container .download-cv-button {
  width: 20%;
  height: 2.1rem;
  width: 15rem;
  border-radius: 0.5rem;
  height: 3.5rem;
  border: 0.1px solid white;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 2.2px -10px 12.8px rgba(39, 219, 245, 0.17), 25px -5px 25px rgba(39, 219, 245, 0.129);
  overflow: hidden;
  font-size: 1.6rem;
  opacity: 0.75;
  cursor: pointer;
}
.contact-pop-up .contact-pop-up-btn-container .download-cv-button:hover {
  background: linear-gradient(90deg, rgba(26, 130, 104, 0.1) 0%, rgba(33, 114, 168, 0.1) 36%, rgba(0, 140, 162, 0.1) 59%, rgba(0, 212, 255, 0.1) 100%);
  background-color: rgba(39, 219, 245, 0.3);
  transition: background-color 1s linear;
  animation: btn-hover-animation 1.2s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
@keyframes btn-hover-animation {
  25% {
    border-bottom: rgba(39, 219, 245, 0.1) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  50% {
    border-left: rgba(39, 219, 245, 0.3) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  75% {
    border-top: rgba(39, 219, 245, 0.6) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  100% {
    border-right: rgba(39, 219, 245, 0.9) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
}
.contact-pop-up .contact-pop-up-btn-container .pop-up-continue-btn {
  width: 20%;
  height: auto;
  width: 15rem;
  border-radius: 0.5rem;
  height: 3.5rem;
  border: 0.1px solid white;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 2.2px -10px 12.8px rgba(39, 219, 245, 0.17), 25px -5px 25px rgba(39, 219, 245, 0.129);
  overflow: hidden;
  font-size: 1.6rem;
  opacity: 0.75;
  cursor: pointer;
}
.contact-pop-up .contact-pop-up-btn-container .pop-up-continue-btn:hover {
  background: linear-gradient(90deg, rgba(26, 130, 104, 0.1) 0%, rgba(33, 114, 168, 0.1) 36%, rgba(0, 140, 162, 0.1) 59%, rgba(0, 212, 255, 0.1) 100%);
  background-color: rgba(39, 219, 245, 0.3);
  transition: background-color 1s linear;
  animation: btn-hover-animation 1.2s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
@keyframes btn-hover-animation {
  25% {
    border-bottom: rgba(39, 219, 245, 0.1) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  50% {
    border-left: rgba(39, 219, 245, 0.3) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  75% {
    border-top: rgba(39, 219, 245, 0.6) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
  100% {
    border-right: rgba(39, 219, 245, 0.9) solid 0.5px;
    transition: border-width 0.5s ease-in-out;
  }
}

.project-body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/cssAssets/project-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 130rem;
}
.project-body #project-main {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.project-body #project-main .tab-container {
  display: flex;
  width: 45%;
}
.project-body #project-main .tab-container div {
  background-color: #4c4a4b;
  /*rgba(18, 18, 19, 0.8);*/
  border-left: rgba(143, 143, 144, 0.8) solid 0.01rem;
  width: 50%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 2rem;
}
.project-body #project-main .project-main-container {
  background-color: #4c4a4b;
  /*rgba(18, 18, 19, 0.8);*/
  border: rgba(143, 143, 144, 0.8) solid 0.01rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  height: 65rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.project-body #project-main .project-main-container .path-bar-container {
  background-color: rgba(38, 38, 38, 0.8);
  display: flex;
  align-items: center;
  padding-left: 3rem;
  width: 75%;
  font-size: 1.6rem;
  height: 3rem;
  border-radius: 0.5rem;
}
.project-body #project-main .project-main-container .files-deco {
  border-bottom: 0.1rem solid white;
  font-size: 1.2rem;
  padding-left: 2rem;
  width: 50%;
  margin-right: auto;
  margin-left: 15%;
}
.project-body #project-main .project-main-container .icons-lateralNav-container {
  display: flex;
  width: 100%;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside {
  border-radius: 0.5rem;
  background-color: rgba(38, 38, 38, 0.6);
  width: 15%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  height: 55rem;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div {
  margin-left: 2%;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div h3 {
  font-size: 2rem;
  text-align: center;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div div {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div div img {
  width: 2rem;
  height: 2rem;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div div p {
  font-size: 1.6rem;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div .folder {
  flex-direction: column;
  height: auto;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div .folder div {
  width: 100%;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div .folder #components, .project-body #project-main .project-main-container .icons-lateralNav-container aside div .folder #projects {
  margin-top: -7%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div .folder #components a, .project-body #project-main .project-main-container .icons-lateralNav-container aside div .folder #projects a {
  text-decoration: none;
  margin-left: 55%;
  display: flex;
  align-items: center;
  height: 2rem;
}
.project-body #project-main .project-main-container .icons-lateralNav-container aside div .folder #components a p, .project-body #project-main .project-main-container .icons-lateralNav-container aside div .folder #projects a p {
  font-size: 1.5rem;
  width: 20rem;
}
.project-body #project-main .project-main-container .icons-lateralNav-container .icons-container {
  margin-left: 5%;
  display: flex;
  width: 75%;
  gap: 2%;
}
.project-body #project-main .project-main-container .icons-lateralNav-container .icons-container a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 15rem;
}
.project-body #project-main .project-main-container .icons-lateralNav-container .icons-container a img {
  width: 4rem;
  height: 4rem;
}
.project-body #project-main .project-main-container .icons-lateralNav-container .icons-container a p {
  font-size: 1.6rem;
  text-align: center;
}

/*VAR*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.carousel-body {
  background: #0a0a0a;
  background: -webkit-linear-gradient(227deg, #0a0a0a 0%, #4d5050 50%, #0f0f0f 100%);
  background: -o-linear-gradient(227deg, #0a0a0a 0%, #4d5050 50%, #0f0f0f 100%);
  background: linear-gradient(317deg, #0a0a0a 0%, #4d5050 50%, #0f0f0f 100%);
}
.carousel-body #carousel-root {
  width: 70%;
  height: 65rem;
}
.carousel-body #carousel-root .image-carousel-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65rem;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container div {
  width: 8rem;
  display: block;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container div .previous-button {
  height: 8rem;
  width: 8rem;
  border-style: solid;
  border-color: white;
  border-width: 0rem 0.1rem 0.1rem 0rem;
  transform: rotate(135deg);
  transition: border-width 150ms ease-in-out;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container div .previous-button:hover {
  border-bottom-width: 1rem;
  border-right-width: 0.4rem;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container div {
  display: block;
  width: 8rem;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container div .next-button {
  height: 8rem;
  width: 8rem;
  border-style: solid;
  border-color: white;
  border-width: 0rem 0.1rem 0.1rem 0rem;
  transform: rotate(-45deg);
  transition: border-width 150ms ease-in-out;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container div .next-button:hover {
  border-bottom-width: 1rem;
  border-right-width: 0.4rem;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container .image-container {
  width: 75%;
  height: auto;
  overflow: hidden;
  max-height: 45rem;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container .image-container img {
  object-fit: cover;
  border-radius: 0.5rem;
  object-position: center;
  transform: scale(1, 1);
  width: 100%;
  height: 45rem;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container .image-container .carousel-image {
  animation: fadeIn ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}
.carousel-body #carousel-root .image-carousel-main-container .image-button-container .image-container .carousel-animation {
  opacity: 0%;
  animation: fadeOut ease-in-out 1;
  animation-fill-mode: backwards;
  animation-duration: 0.25s;
  animation-delay: 0s;
}
.carousel-body #carousel-root .image-carousel-main-container .frame-container {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-content: space-between;
}
.carousel-body #carousel-root .image-carousel-main-container .frame-container div {
  width: 10%;
  overflow: hidden;
  height: 8rem;
}
.carousel-body #carousel-root .image-carousel-main-container .frame-container div img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.carousel-body #carousel-root .image-carousel-main-container .frame-container div .over-layed {
  opacity: 25%;
  transition: opacity 0.5s linear 0.25s;
}
.carousel-body #carousel-root .image-carousel-main-container .frame-container div .over-layed:hover {
  opacity: 100%;
  transition: opacity 0.5s linear 0.25s;
}

.mobile-menu-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.mobile-menu-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5em;
}
.mobile-menu-container div span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  width: 5rem;
  height: 0.6rem;
  background-color: white;
  display: block;
}
.mobile-menu-container div span:before, .mobile-menu-container div span:after {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.6rem;
  background-color: white;
  display: block;
}
.mobile-menu-container div span:before {
  margin-top: -12px;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}
.mobile-menu-container div span:after {
  margin-top: 12px;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}
.mobile-menu-container .active {
  width: 5rem;
  height: 5em;
}
.mobile-menu-container .active span {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.mobile-menu-container .active span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
.mobile-menu-container .active span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.shoping-body {
  border: 1px solid black;
  background-color: black;
}
.shoping-body #shoping-root {
  /*p{
      color: $shoping-font-color;
  }
  h2{
      color: $shoping-font-color;
  }
  h3{
      color: $shoping-font-color;
  }
  .button{
      color: black;
  }*/
  border: 1px solid black;
}
.shoping-body #shoping-root header {
  border: 1px solid black;
}
.shoping-body #shoping-root main {
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  font-size: 10px;
  font-family: "Ubuntu";
  color: white;
}
@media (max-width: 480px) {
  * {
    font-size: 7px;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  /**/
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

img {
  width: 10rem;
  height: 10rem;
}

.test {
  color: black;
}

/*# sourceMappingURL=main.css.map */
