@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 70%;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  display: block;
}
header nav ul li a {
  font-size: 2rem;
  text-decoration: none;
}
header .header-info-cntainer {
  display: block;
  width: 100%;
}
header .header-info-cntainer h2 {
  font-size: 8rem;
}
header .header-info-cntainer h1 {
  font-size: 6rem;
}
header .header-info-cntainer h3 {
  font-size: 4rem;
}
header .header-line {
  width: 30%;
  border-bottom: 0.4rem solid rgba(8, 233, 248, 0.8);
}

.landing-body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("../../images/cssAssets/backgroundportfolio.svg") no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}
.landing-body main {
  width: 70%;
}
.landing-body main p {
  font-size: 3rem;
}
.landing-body main div {
  width: 15%;
  height: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.6rem;
  font-family: Ubuntu;
  background: none;
  transition: 0.6s;
  border: rgba(34, 197, 245, 0.8) 0.2rem solid;
  line-height: 1;
  padding: 1rem 2rem;
  box-shadow: 0.3rem 0.4rem 0 0 rgba(34, 197, 245, 0.8), inset 0.3rem 0.3rem 0 0 rgba(34, 197, 245, 0.8);
}
.landing-body main div:hover, .landing-body main div:focus {
  box-shadow: 0 0 0 0 rgba(34, 39, 245, 0.8), inset 8rem 4.5rem 0 0 rgba(16, 16, 16, 0.4);
  border-color: rgba(143, 143, 147, 0.77);
  color: white;
}

.arrow-btn-left {
  left: 20%;
}
.arrow-btn-left:after {
  border-top: 0.4rem solid;
  border-left: 0.4rem solid;
  transform: rotateZ(315deg);
}

.arrow-btn-right {
  left: 70%;
}
.arrow-btn-right:after {
  border-bottom: 0.4rem solid;
  border-right: 0.4rem solid;
  transform: rotateZ(315deg);
}

.about-body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("../../images/cssAssets/background-about.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.about-body .letter {
  width: 70%;
}
.about-body .letter p {
  font-size: 3rem;
}
.about-body #languages-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}
.about-body #languages-frame .frames-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about-body #languages-frame .frames-main-container .frame-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  overflow: hidden;
  gap: 5rem;
}
.about-body #languages-frame .frames-main-container .frame-container .arrow-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 10rem;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid none;
  border-radius: 10rem;
  color: white;
  cursor: pointer;
  line-height: 30rem;
  margin-left: 5rem;
  transition: all 0.25s ease-in-out;
}
.about-body #languages-frame .frames-main-container .frame-container .arrow-btn:hover {
  background: white;
  border-color: white;
  color: black;
}
.about-body #languages-frame .frames-main-container .frame-container .arrow-btn:after {
  display: inline-block;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
}
.about-body #languages-frame .frames-main-container .frame-container .image-container {
  display: flex;
  flex-direction: column;
  height: 35rem;
  align-items: center;
  justify-content: center;
}
.about-body #languages-frame .frames-main-container .frame-container .image-container img {
  width: 20rem;
  height: auto;
  margin-top: auto;
}
.about-body #languages-frame .frames-main-container .frame-container .image-container h3 {
  margin-top: auto;
  font-size: 3rem;
}

.contact-body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/cssAssets/contact.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.contact-body .contact-main {
  width: 70%;
}
.contact-body .contact-main h2 {
  font-size: 2.5rem;
}
.contact-body .contact-main form {
  width: 100%;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact-body .contact-main form .form-data-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact-body .contact-main form .form-data-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
  width: 45%;
}
.contact-body .contact-main form .form-data-container .form-container div {
  display: flex;
  justify-content: space-around;
  width: 95%;
}
.contact-body .contact-main form .form-data-container .form-container div label {
  font-size: 2rem;
}
.contact-body .contact-main form .form-data-container .form-container div input {
  background-color: rgba(113, 112, 113, 0.5);
  border: none;
  height: 3rem;
  width: 75%;
  font-size: 2rem;
}
.contact-body .contact-main form .form-message-container {
  display: flex;
  flex-direction: column;
  width: 88%;
}
.contact-body .contact-main form .form-message-container label {
  font-size: 2rem;
}
.contact-body .contact-main form .form-message-container textarea {
  background-color: rgba(113, 112, 113, 0.5);
  border: none;
  width: 50%;
  height: 10rem;
  margin-left: 9%;
  font-size: 1.6rem;
}
.contact-body .contact-main form #form-sending-button {
  border: solid 1px white;
  background: red;
  width: 20%;
  height: 4rem;
  font-size: 2rem;
}

.pulse {
  color: red;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5rem;
  padding: 1rem 2rem;
}
.pulse:hover, .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
  border-color: #adade6;
  color: red;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #adade6;
  }
}

* {
  font-size: 10px;
  font-family: "Ubuntu";
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=main.css.map */
