doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block stylesheet
            link(rel='scss', href='/styles/scss/main.scss', type="text/x-scss")
            link(rel='stylesheet', href='/styles/css/main.css')
    - var bodyClass=""
    block vars
    body(class= bodyClass)
        block content
        block scripts
            
        
