extends componentLayout
block titles
    title Video Games
block vars 
    - var bodyClass=""
block content
    canvas(id="platformer-canvas")        
block scripts 
    script(src="/scripts/project/videoGame.js")
